body {
    background-color: rgb(218, 192, 243);
}

.first {
    background-color: aqua;
}

.second {
    background-color: bisque;
}

.third {
    background-color: blueviolet;
}

.fourth {
    background-color: burlywood;
}

.fifth {
    background-color: cadetblue;
}